<template>
    <v-container>
        <v-layout justify-center>
            <h1 class="main-title">CHANGE PASSWORD</h1>
        </v-layout>
        <v-layout mt-2 row justify-center>
            <v-flex xs8 sm6 md3>
                <v-card class="pa-3 elevation-2">
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-text-field v-model="old_password" :rules="oldPasswordRules" label="Old password" required
                                      :append-icon="showOldPassword ? 'visibility_off' : 'visibility'"
                                      :type="showOldPassword ? 'text' : 'password'"
                                      @click:append="showOldPassword = !showOldPassword"
                        ></v-text-field>
                        <v-text-field v-model="new_password" :rules="newPasswordRules" label="New password" required
                                      :append-icon="showNewPassword ? 'visibility_off' : 'visibility'"
                                      :type="showNewPassword ? 'text' : 'password'"
                                      @click:append="showNewPassword = !showNewPassword"
                        ></v-text-field>
                        <v-text-field v-model="new_password_conf" :rules="passwordConfirmationRules" label="Confirm password" required
                                      :append-icon="showNewConfPassword ? 'visibility_off' : 'visibility'"
                                      :type="showNewConfPassword ? 'text' : 'password'"
                                      @click:append="showNewConfPassword = !showNewConfPassword"
                        ></v-text-field>
                        <v-layout justify-center v-show="displayErrors">
                            <v-alert :value="true" type="error">
                                <ul>
                                    <li v-for="error in errors">
                                        {{ error[0] }}
                                    </li>
                                </ul>
                            </v-alert>
                        </v-layout>
                        <v-layout justify-center>
                            <v-btn color="primary" :disabled="submitting" @click="cancel">
                                <v-icon left>cancel</v-icon>
                                cancel
                            </v-btn>
                            <v-btn color="primary" :loading="submitting" :disabled="!valid" @click="submit">
                                <v-icon left>edit</v-icon>
                                change
                            </v-btn>
                        </v-layout>
                    </v-form>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data: function() {
            return {
                valid: false,
                old_password: "",
                new_password: "",
                new_password_conf: "",
                showOldPassword: false,
                showNewPassword: false,
                showNewConfPassword: false,
                oldPasswordRules: [
                    v => !!v || 'Old password is required',
                ],
                newPasswordRules: [
                    v => !!v || 'New password is required',
                ],
                passwordConfirmationRules: [
                    v => !!v || 'Password confirmation is required'
                ],
                errors: [],
                submitting: false,
                displayErrors: false,
            }
        },
        methods: {
            submit: function() {
                this.submitting = true;
                this.$http.patch('/users/me/password', {
                    'old_password' : this.old_password,
                    'password' : this.new_password,
                    'password_confirmation' : this.new_password_conf,
                })
                .then(resp => {
                    this.$noty.success("Password updated successfully!");
                    this.$router.push({ path: '/profile' });
                }).catch(error => {
                    if (error.response.status === 422) {
                        this.displayErrors = true;
                        this.errors = error.response.data.errors;
                    } else {
                        this.$noty.error("Password could not be changed. An error occurred.");
                    }
                }).then(() => {
                    this.submitting = false;
                });
            },
            cancel: function() {
                this.$router.push({ path: '/profile' });
            }
        }
    }
</script>

<style scoped>
</style>