<template>
    <v-container>
        <v-layout justify-center row wrap>
            <v-flex xs10 sm6 md6 lg3 mt-1>
                <v-card class="elevation-2">
                <v-container>
                    <v-layout justify-center><h2>LOGIN</h2></v-layout>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-text-field @keyup.enter.native="submit"
                                v-model="email"
                                :rules="emailRules"
                                label="E-mail/Username"
                                required
                        ></v-text-field>
                        <v-text-field @keyup.enter.native="submit"
                                v-model="password"
                                :rules="passwordRules"
                                :append-icon="showPassword ? 'visibility_off' : 'visibility'"
                                :type="showPassword ? 'text' : 'password'"
                                label="Password"
                                required
                                @click:append="showPassword = !showPassword"
                        ></v-text-field>
                        <v-btn
                                block
                                class="primary"
                                :loading="loading"
                                :disabled="loading || !valid"
                                @click.prevent="submit"
                        >
                            SUBMIT
                        </v-btn>
                        <v-alert
                                :value="showError"
                                type="error"
                        >
                            {{ errorMessage }}
                        </v-alert>
                    </v-form>
                </v-container>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data: () => {
            return {
                showError: false,
                errorMessage: "",
                valid: true,
                showPassword: false,
                email: "",
                password: "",
                emailRules: [
                    v => !!v || 'E-mail/Username is required',
                ],
                passwordRules: [
                    v => !!v || 'Password is required',
                    v => v.length >= 3 || 'Password must be at least 3 characters'
                ],
                loading: false
            }
        },
        methods: {
            submit: function() {
                if (this.$refs.form.validate()) {
                    this.loading = true;
                    this.$store.dispatch('login', {
                        username: this.email,
                        password: this.password
                    })
                    .then((response) => {
                        this.$noty.success("Logged in successfully!");
                        this.$socket.emit('user_enter', this.$store.state.user);
                        this.$router.push({ name: 'base' });
                    })
                    .catch((error) => {
                        this.loading = false;
                        if (error.response.data.message !== undefined) {
                            this.errorMessage = error.response.data.message;
                            this.showError = true;
                        } else {
                            this.$noty.error("There was an unknown error, try again later!");
                        }
                    });
                }
            }
        },
        mounted: function() {
            if(this.$store.getters.isAuthenticated) {
                // If authenticated redirect to base page
                this.$router.push({ name: 'base' });
            }
        }
    }
</script>

<style scoped>
</style>